#bg-modal {
    background-color: #eee;
}

.errorMsg {
    color: red;
    font-size: 12px;
    justify-content: left;
}

#transport-select {
    display: flex;
    justify-content: center;
}

#select-form {
    width: 20%;
}

th {
    margin-right: 10%;
}