body {
    font-family: 'Cormorant Garamond', serif;
    
}

p {
    line-height: 23px;
}

/* Quote */
h2 {
    font-size: 25px;
    font-style: italic;
    line-height: 30px;  
}

/* Navbar links */
.nav-link {
    font-size: 21px;
    font-weight: 500;
    color: #000;
}

/* Modal for login-error */
#bg-modal {
    background-color: #eee;
    margin-top: 25%;
}

#example-modal-title {
    font-size: 20px;
}


/* Time and Date for all Widgets */
#dynamicTime{
    padding:4px 0px;
 }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ccccccaf;
    text-align: center;
    padding:15px;
 }

/*--------------------- Widget Style Properties ----------------*/

/* Widget Title */
#widget-title {
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 2px;
}

#widget-input{
    padding:0px 0px 10px 0px;
}

/* -------------------------------------------------------------- */

/*---------------------- Custom Scrollbar -----------------------*/
/* Webkit browsers, such as Chrome, Safari and Opera, supports the non-standard ::-webkit-scrollbar pseudo element, which allows us to modify the look of the browser's scrollbar. */

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #666; 
}

/* -------------------------------------------------------- */

.jumbotron {
    height: 92vh;
    /* height: 100%; */
    margin-bottom: 0;
}

.errorMsg {
    color: red;
    font-size: 12px;
    justify-content: left;
}

#select-form {
    width: 20%;
    margin: 0 auto;
}

/* --------------------- */
/* Notes Tab Styling */

/* Height of each note */

.note {
    height: 32px;
    /* width: 20%; */
    margin-bottom: 15px;
    font-size: 20px;
    display: inline-block;
}

.note:hover {
    position: relative;
    top: -3px;
}

textarea {
    resize: none;
}

label {
    font-size: 21px;
    font-weight: 500;
}

#comment {
    width: 20%;
    margin: 10px auto;
    border-bottom: 1px, solid #cccccc;
}

/* -------------------------- */

.customColor {
    background-color:  #66666648
}

.delete-button{
    padding: 0 7px;
    font-size: 20px;
    border: none;
    margin: 0 10px;
}

.edit-button{
    padding: 0 7px;
    font-size: 20px;
    border: none;
    margin: 0 10px;
}

#mapbutton {
    background : url(https://www.bart.gov/sites/default/files/images/basic_page/system-map-weekday.png) no-repeat center center;
    background-size: contain;
	width : 20px;
	height :20px;
	border : none;
	color : transparent;
}
#mapbutton:hover {
    background : url(https://www.bart.gov/sites/default/files/images/basic_page/system-map-weekday.png) no-repeat center center;
    background-size: contain;
	width : 30px;
	height :30px;
	border : none;
	color : transparent;
}

.thumbnailImg{
    height:260px;
}
.card-deck .card{
    margin-bottom:20px;
    border-radius:10px;
}





/* Input style */
#weather-input {
    width:210px;
}

#food-input {
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    padding: 5px;
    width:210px;
}

#location-input {
    margin-left: 18px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    padding: 5px
}

/* button styling */

#location-submit {
    margin-bottom: 15px;
}

/* Here we will center the card 'note-card' */
#note-card {
    margin: 0 auto;
    border-right: none;
    border-left: none;
    border-radius: 0;
}

#forecast-card {
    margin-top: 15px;
}
